.Tabs-adm {
    background-color: #230642;
    border-top: #fe8a39 1px solid;
    border-bottom: #fe8a39 1px solid;
    color: white !important;
}
.editarformtitulo {
    background-color: rgb(255, 255, 255);
    color: white;
    font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 670px) {
    .Tabla-cont{
        margin-top: 150px;
    }
}

@media only screen and (max-width: 597px) {
    .Tabla-cont{
        margin-top: 100px;
    }
}

.tabla-admin {
    background-color: white !important;
    border: #fe8a39 solid 2px;
}

.Form-editar {
    background: linear-gradient(-45deg, #f1683e, #3b0132, #000000, #230642);
}

.Titulo-editar {
    color: rgb(255, 255, 255) !important;
}

.Header-edit {
    background: linear-gradient(-45deg, #f1683e, #3b0132, #000000, #230642);
}

.Editar-boton {
    width: 150px;
    margin-top: 15px !important;
    border: #fe8a39 solid 1px !important;
    background-color: #fe8b3963;
    color: white;
}
