
.login-form {
    background: linear-gradient(-45deg, #f1683e, #3b0132, #230642);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 700px;
    height: 100%;
    display: flex;
    justify-content: center !important;
    border-radius: 25px;
    border: #fe8a39 1px solid;
    text-align: start;
}

.Titulo-login-principal {
    color: white;
    font-size: 50px;
    margin: auto;
}

.Input-login {
    width: 100%;
    background-color: #fe8b3938;
    border: #fe8a39 1px solid;
    transition: 0.2s;
    color: white;
}

.Input-contacto:hover {
    background-color: #fe8b3963;
}

.Contacto-boton {
    border: #fe8a39 solid 1px;
    margin-top: 30px !important;
    margin-bottom: 30px;
    width: 300px !important;
    background-color: #fe8b3963;
    color: white;
}


.Form-titulos {
    text-align: start !important;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
