.Contacto {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center;
    justify-content: space-evenly;
    overflow: hidden !important;
    margin: auto !important;
}

.Contacto-form {
    margin-top: 20px;
    background: linear-gradient(-45deg, #f1683e, #3b0132, #00000061, #230642);
    width: 700px;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center !important;
    border-radius: 25px;
    border: #fe8a39 1px solid;
    text-align: start;
    overflow: hidden !important;
}

@media (max-width: 1366px) {
    .Contacto-form {
        margin: auto !important;
        margin-right: 10px !important;
        margin-left: 10px !important;
        margin-bottom: 50px !important;
    }
}

@media (max-width: 975px) {
    .Contacto-form {
        margin: auto !important;
        margin-top: 60px !important;
        margin-right: 10px !important;
        margin-left: 10px !important;
        margin-bottom: 50px !important;
    }
}

.Titulo-contacto-principal {
    color: white;
    margin: auto !important;
    font-size: 55px;
    border-bottom: 1px solid white;
    margin-right: 300px !important;
    margin-left: 300px !important;
    margin-bottom: 80px !important;
}

@media (max-width: 975px) {
    .Titulo-contacto-principal {
        margin: auto !important;
        margin-top: 100px !important;
        margin-right: 10px !important;
        margin-left: 10px !important;
        overflow: hidden !important;
    }
}

.Otros-contactos {
    width: 700px !important;
    height: 700px !important;
}

@media (max-width: 975px) {
    .Otros-contactos {
        margin: auto !important;
        margin-top: 10px !important;
        margin-right: 10px !important;
        margin-left: 10px !important;
        margin-bottom: 10px !important;
    }
}

.Input-contacto {
    width: 700px !important;
    background-color: #fe8b3938;
    border: #fe8a39 1px solid;
    transition: 0.2s;
    color: white;
    max-width: 600px !important;
}

.Input-contacto:hover {
    background-color: #fe8b3963;
}

@media (max-width: 665px) {
    .Input-contacto {
        width: 400px !important;
    }
}

@media (max-width: 445px) {
    .Input-contacto {
        width: 100% !important;
        margin-left: 3px !important;
        margin-right: 3px !important;
    }
}

.Contacto-boton {
    border: #fe8a39 solid 1px;
    margin-top: 30px !important;
    margin-bottom: 30px;
    width: 300px !important;
    background-color: #fe8b3963;
    color: white;
}

.Form-titulos {
    margin-left: 10px !important;
    margin-right: 10px !important;
    text-align: start !important;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.Logo-contacto {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-box-shadow: 0px 8px 15px 10px #fe8a39;
    box-shadow: 0px 1px 9px 2px #fe8a39;
}

.Titulo-otrasR {
    margin-top: 15px;
    color: white;
    margin-bottom: 15px;
}

.Redes-titulos {
    margin-top: 10px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.Redes-titulos:hover {
    color: #fe8a39 !important;
}

@media (max-width: 680px) {
    .Redes-titulos {
        display: none;
    }
}

.Conteiner-titulo-redeS {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    transition: 0.5s;
}

.Redes-contacto {
    margin-top: 50px;
    margin-right: 35px;
    margin-left: 35px;
    width: 150px;
    height: 150px;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

@media (max-width: 680px) {
    .Redes-contacto {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 530px) {
    .Redes-contacto {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 325px) {
    .Redes-contacto {
        width: 70px;
        height: 70px;
    }
}

.Redes-contacto:hover {
    transform: scale(1.1);
}
