.Inicio {
    margin-top: 150px;
    margin-bottom: 150px;
}

.Titulo-inicio {
    font-family: "Roboto", sans-serif;
    color: white;
    border-bottom: 1px solid rgb(255, 255, 255);
    text-align: left;
    margin-left: 160px;
    margin-right: 160px;
}

@media only screen and (max-width: 880px) {
    .Titulo-inicio {
        text-align: center;
        margin: auto !important;
        margin-right: 50px !important;
        margin-left: 50px !important;
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }
}

.Inicio-swip {
    border-radius: 3px;
    width: 100% !important;
}

.Carro-Inicio {
    width: 100% !important;
    min-width: 250px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.CarroI-Img {
    margin-bottom: 30px !important;
    margin-top: 30px !important;
    height: 300px;
    width: 400px;
    transition: 0.2s;
    -webkit-box-shadow: 0px 0px 19px 8px #f1683e4f;
    box-shadow: 0px 0px 19px 8px #f1683e4f;
    border: #fe8a39 solid 3px;
}

@media only screen and (max-width: 950px) {
    .Inicio-swip {
        width: 100% !important;
        margin: auto !important;
    }
}

@media only screen and (max-width: 950px) {
    .Carro-Inicio {
        margin: auto !important;
        width: 100% !important;
        height: 300px;
    }
}

@media only screen and (max-width: 950px) {
    .CarroI-Img {
        width: 200px !important;
        height: 200px !important;
        height: 300px;
    }
}

@media only screen and (max-width: 530px) {
    .Inicio-swip {
        width: 100% !important;
        margin: auto !important;
    }
}

@media only screen and (max-width: 530px) {
    .Carro-Inicio {
        margin: auto !important;
        width: 90% !important;
    }
}

@media only screen and (max-width: 530px) {
    .CarroI-Img {
        width: 200px !important;
        height: 200px !important;
    }
}

.CarroI-Img:hover {
    transform: scale(1.1);
}

.Inicio-Cards {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    justify-content: space-around !important;
    text-decoration: none !important;
    margin-bottom: 80px !important;
    margin-top: 60px !important;
    margin-right: 400px !important;
    margin-left: 400px !important;
}

.CardI {
    margin-bottom: 50px !important;
}

.CardI-style {
    color: white;
    background: linear-gradient(-45deg, #f1683e, #3b0132, #00000061);
    text-align: center !important;
    margin-bottom: 50px !important;
    margin-top: 20px;
    text-align: left;
    width: 300px;
    height: 310px;
    border: 2.4px solid #fe8a39 !important;
    -webkit-box-shadow: 0px 8px 15px 10px rgba(0, 0, 0, 0.39);
    box-shadow: 0px 8px 15px 10px rgba(0, 0, 0, 0.39);
    transition: 0.2s;
    text-decoration: none !important;
}

.CardI-style:hover {
    transform: scale(1.1);
}

.CardI-img {
    object-fit: cover !important;
    border: 1px rgba(0, 0, 0, 0.336) solid;
    width: 150px;
    height: 200px;
    object-fit: cover;
}

@media only screen and (max-width: 1750px) {
    .Inicio-Cards {
        margin-right: 200px !important;
        margin-left: 200px !important;
    }
}

@media only screen and (max-width: 1366px) {
    .Inicio-Cards {
        margin-right: 100px !important;
        margin-left: 100px !important;
    }
}

@media only screen and (max-width: 800px) {
    .Inicio-Cards {
        margin-right: 10px !important;
        margin-left: 10px !important;
    }
}

@media only screen and (max-width: 600px) {
    .Inicio-Cards {
        margin-right: 10px !important;
        margin-left: 10px !important;
    }
}
