.Nav-entera {
    margin-bottom: 150px !important;
}

@media only screen and (max-width: 675px) {
    .Nav-entera {
        margin-bottom: 0px !important;
    }
}

.Nav-bar {
    background-color: black !important;
    font-size: 18px;
}

.Nav-cont {
    margin: auto !important;
}

.Logo-nav {
    margin-left: 15px;
}

.Logo-nav-img {
    border-radius: 15px !important;
    width: 35px;
    height: 35px;
    transition: 0.3s;
}

.Logo-nav-img:hover {
    transform: scale(1.4);
}

.Nav-item {
    transition: 0.2s !important;
}

.Nav-item:hover {
    transform: translateY(-3px);
    color: #fe8a39 !important;
}

.Input-Nav {
    height: 43px;
    border-radius: 10px;
    transition: 0.2s;
    border: #fe8a39 1px solid;
    background-color: #fe8b3938;
}

.Boton-busqueda {
    background-color: white !important;
    border-radius: 50px !important;
    border: 1px black solid !important;
    height: 40px;
    transition: 0.3s !important;
}

.Input-Nav:hover {
    background-color: #fe8b3963;
}

.Boton-busqueda:hover {
    -webkit-box-shadow: 0px 1px 12px 1px #fe8a39;
    box-shadow: 0px 1px 12px 1px #fe8a39;
}
