.Nav-entera {
    margin-bottom: 150px !important;
}

@media only screen and (max-width: 675px) {
    .Nav-entera {
        margin-bottom: 0px !important;
    }
}

.Nav-bar {
    background-color: black !important;
    font-size: 18px;
}

.Nav-cont {
    /* margin: auto; */
}

@media only screen and (max-width: 995px) {
    .Nav-cont  {
        margin: auto
    }
}


.Logo-nav {
    margin-left: 15px;
}

.Logo-nav-img {
    border-radius: 15px !important;
    width: 50px;
    height: 50px;
    transition: 0.3s;
}

.Logo-nav-img:hover {
    transform: scale(1.4);
}

.Nav-item {
    transition: 0.2s !important;
}

.Nav-item:hover {
    transform: translateY(-3px);
    color: #fe8a39 !important;
}

.Input-Nav {
    border-radius: 5px;
    height: 43px !important;
    transition: 0.2s !important;
    border: #fe8a39 1px solid !important;
    background-color: #fe8b3938 !important;
}

.Boton-busqueda {
    background-color: white !important;
    border: 1px black solid !important;
    height: 43px;
    transition: 0.3s !important;
    border: #fe8a39 1px solid !important;
}

.Input-Nav:hover {
    background-color: #fe8b3963 !important;
}
