.Productos-inicio {
    margin-top: 80px;
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: space-evenly !important;
}

@media only screen and (max-width: 1500px) {
    .Productos-inicio{
        flex-wrap: wrap !important;
    }
}

.Filtros {
    margin-top: 40px;
    flex-direction: column !important;
    justify-content: center  !important;
    text-align: center !important;
    text-align: start;
    color: white;
    width: 400px;
    height: 100% !important;
    border: 1px solid rgba(0, 0, 0, 0.24) !important;
    background: linear-gradient(-45deg, #f1683e38, #3b013267, #230642); 
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
    border: 1px solid #f1683e !important;
    border-radius: 4px;
}

.Botones-precio {
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    background-color: white !important;
    border: 1px black solid !important;
    transition: 0.3s !important;
    border: #fe8a39 1px solid !important;
    max-width: 100%;
    border-radius: 4px !important;
}

.Botones-precio:hover {
    color:  black !important;
    background-color: #f1683e !important;
}

.Botones-select {
    text-decoration: none !important;
    width: 250px;
    height: 45px !important;
    margin-bottom: 10px;
    background-color: white !important;
    border: 1px black solid !important;
    transition: 0.2s !important;
    border: #fe8a39 3px solid !important;
    max-width: 100%;
    height: 30px;
    border-radius: 4px !important;
    margin: auto !important;
    margin-top: 20px !important;
    margin-bottom: 50px !important;
    color: rgb(255, 255, 255) !important;
}

.Botones-select:hover {
    color:  black !important;
    background-color: #f1683e57 !important;
}

.Todos-productos {
    width: 1200px;
    border-radius: 4px !important;
    height: 100% !important;
    min-height: 800px;
    display: flex !important;
    flex-wrap: wrap !important;
}

@media only screen and (max-width: 1500px) {
    .Todos-productos{
        width: 850px;
    }
}

.Cards-productos{
    display: flex !important;
    flex-wrap: wrap-reverse !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    text-decoration: none !important;
    margin-bottom: 20px !important;
    margin-top: 10px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.CardP-style {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 20px !important;
    text-align: left;
    width: 300px;
    height: 100%;
    background: linear-gradient(-45deg, #00000052, #3b0132) !important ;
    transition: 0.2s;
    border: 1px solid #f1683e !important;
}

@media only screen and (max-width: 1450px) {
    .CardP-style{
        width: 250px;
    }
}

@media only screen and (max-width: 975px) {
    .CardP-style{
        width: 200px;
        height: 290px;
    }
}

@media only screen and (max-width: 400px) {
    .CardP-style{
        width: 150px;
        height: 340px;
        max-height: 100%;
    }
}


.CardP-style:hover {
    -webkit-box-shadow: 0px 0px 19px 8px #f1683e4f; 
    box-shadow: 0px 0px 19px 8px #f1683e4f;
}

.Cardp-img {
    border-radius: 5px;
    border: 1px solid #f1683e !important;
    margin-bottom: 10px;
    border: 1px rgba(0, 0, 0, 0.336) solid;
    -webkit-box-shadow: 0px 8px 15px 10px rgba(0, 0, 0, 0.39);
    box-shadow: 0px 8px 15px 10px rgba(0, 0, 0, 0.39);
    width: 100%;
    height: 200px;
    object-fit: cover;
}

@media only screen and (max-width: 1450px) {
    .Cardp-img{
        height: 160px;
    }
}

@media only screen and (max-width: 975px) {
    .Cardp-img{
        height: 100px;
    }
}

@media only screen and (max-width: 400px) {
    .Cardp-img{
        width: 110px;
        height: 130px !important;
    }
}
